@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.boxx {
  position: relative;
  margin: 12px 8px;
  padding: 20px;
  border: 5px double black;
}

.boxx::before {
  content: attr(aria-label);
  position: absolute;
  top: -9px;
  left: 6px;
  background-color: white;
  color: black;
  padding: 0px 2px 0px 2px;
  text-transform: uppercase;
  /* animation: blink 1s steps(1) infinite; */
  line-height: 14px;
}

em {
  background: black;
  color: white;
  font-style: normal;
}

em:hover {
  color: yellow;
}

.card {
  position: relative;
  margin: 12px 8px;
  padding: 20px;
  border: 5px double black;
  display: grid;
}

.btn {
  background: black;
  border: 2px solid white;
  outline: 3px solid black;
  color: white;
  display: block;
}

.btn:hover {
  background: white;
  color: black;
}

.link {
  cursor: pointer;
  color: black;
}

.link:hover {
  background-color: black;
  color: white;
}

.blink {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    background: white;
    color: black;
  }
  50% {
    background: black;
    color: white;
  }
  100% {
    background: white;
    color: black;
  }
}
