:root {
    font-family: "dos_vga", monospace;
    --primary-color: rgb(0, 0, 205);
    background-color: black;
    color: var(--primary-color);
  }
  
  * {
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .hello-button {
    all: unset;
    background-color: var(--primary-color);
    padding: 0px 5px;
    border-radius: 0px;
    font-family: inherit;
    -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
    animation: t-flash-blue 0.5s steps(1) infinite;
  }
  
  .hello-button:hover {
    background-color: yellow;
    color: black;
    border-color: var(--primary-color);
    animation: none;
  }
  
  .theme-button {
    all: unset;
    background-color: var(--primary-color);
    padding: 0px 10px 0px;
    border-radius: 0px;
    font-family: inherit;
    float: right;
  }
  
  .highlight {
    color: black;
    background-color: white;
  }
  
  .highlight::before {
    content: "--";
  }
  
  .highlight::after {
    content: "--";
  }
  
  .highlight:hover {
    color: yellow;
  }
  
  .page-wrap {
    content: "";
    width: 100%;
    height: 10px;
    background: #111;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 9990;
  }
  
  .t-head {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: black;
    z-index: 9990;
    line-height: 25px;
    padding-left: 10px;
    max-width: calc(100vw);
  }
  
  #t-load {
    -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
    animation: t-flash-blue 0.5s steps(1) infinite;
    text-transform: uppercase;
    padding-left: 2px;
  }
  
  body {
    border: 6px double border var(--primary-color);
  }
  
  hr {
    color: var(--primary-color);
  }
  
  a {
    color: red;
  }
  
  .about-me {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 25px;
    overflow: hidden;
  }
  
  .pfp {
    max-width: 230px;
    height: auto; 
    display:flex;
    float: center;
    margin-top: 50px;
    margin-left: 10px;
    background-color: white;
  }
  
  
  
  .border-container {
    background: white;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .container {
    margin-top: 1px;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .t-menu {
    border: 6px double var(--primary-color);
    min-height: 3em;
    background: white;
    padding: 1em;
    outline: 5px solid white;
    margin: 15px;
    overflow: visible;
    width: 100%;
    max-width: calc(100%);
    float: center;
    position: relative;
    z-index: 1;
  }
  
  .t-menu::before,
  .comment-reply-title {
    content: attr(aria-label);
    display: block;
    overflow: hidden;
    padding: 2px 1px 0px 2px;
    line-height: 0.7;
    position: absolute;
    opacity: 1;
    top: -9px;
    left: 6px;
    background: mediumblue;
    background: white;
    text-transform: uppercase;
    -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
    animation: t-flash-blue 0.5s steps(1) infinite;
    z-index: 10000;
  }
  
  @media only screen and (min-width: 767px) {
    .t-menu.three_fifth {
      width: calc(60% - 16px);
    }
    .t-menu.two_fifth {
      width: calc(40% - 16px);
    }
    .t-menu.one_half {
      width: calc(50% - 16px);
    }
    .t-menu.one_third {
      width: calc(33.33% - 16px);
    }
    .t-menu.two_third {
      width: calc(66.66% - 16px);
    }
  }
  
  @keyframes t-flash-blue {
    0% {
      color: white;
      background: var(--primary-color);
    }
    50% {
      color: var(--primary-color);
      background-color: white;
    }
    100% {
      color: white;
      background: var(--primary-color);
    }
  }
  
  #t-load {
    -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
    animation: t-flash-blue 0.5s steps(1) infinite;
    text-transform: uppercase;
    padding-left: 2px;
  }
  
  @font-face {
    font-family: "dos_vga";
    src: url("./assets/Perfect DOS VGA 437.ttf") format("truetype");
  }
  
  footer {
    padding: 1em;
    text-align: left;
    color: black;
  }
  