:root {
  font-family: "dos_vga", monospace;
  --primary-color: rgb(0, 0, 205);
  background-color: black;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin-bottom: 5px;
  font-size: 18px;
}

.hello-button {
  all: unset;
  background-color: var(--primary-color);
  padding: 0px 5px;
  border-radius: 0px;
  font-family: inherit;
  -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
  animation: t-flash-blue 0.5s steps(1) infinite;
  cursor: pointer;
}

.hello-button:hover {
  background-color: yellow;
  color: black;
  border-color: var(--primary-color);
  animation: none;
}

.theme-button {
  all: unset;
  color: yellow;
  background-color: var(--primary-color);
  padding: 0px 10px 0px;
  border-radius: 0px;
  font-family: inherit;
  float: right;
  cursor: pointer;
}

.theme-button:hover {
  color: white;
  background-color: black;
}

.randomize-button {
  background: black;
  color: white;
  border: 2px solid currentColor;
  outline: 3px solid black;
  padding: 2px 8px;
  width: auto;
  text-transform: uppercase;
  font-size: 1em;
  font-family: inherit;
  display: block;
  cursor: pointer;
}

.randomize-button:hover {
  background: white;
  color: black;
  outline: white;
}

button[type="submit"] {
  all: unset;
  background: black;
  color: white;
  border: 2px solid currentColor;
  outline: 3px solid black;
  padding: 2px 8px;
  width: auto;
  text-transform: uppercase;
  font-size: 1em;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

button[type="reload"] {
  all: unset;
  background: black;
  color: white;
  border: 2px solid currentColor;
  outline: 3px solid black;
  padding: 2px 8px;
  width: auto;
  text-transform: uppercase;
  font-size: 1em;
  font-family: inherit;
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  margin-top: 10px;
}

button[type="reload"]:hover {
  background: white;
  color: black;
  outline: white;
}

.button-container {
  float: right;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button[type="submit"]:hover {
  background: white;
  color: black;
  outline: white;
}

input[type="text"] {
  border: white;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: 16px;
  width: 200px;
  opacity: 70%;
}

input[type="email"] {
  border: white;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: 16px;
  width: 200px;
  opacity: 70%;
}

textarea[name="message"] {
  width: auto;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  opacity: 70%;
  padding: 1px;
  width: 100%;
  min-height: 75px;
  border: 1.5px solid black;
  resize: none;
}

form {
  line-height: 25px;
}

.highlight {
  color: white;
  background-color: black;
}

.highlight::before {
  content: "--";
}

.highlight::after {
  content: "--";
}

.highlight:hover {
  color: yellow;
}

.page-wrap {
  content: "";
  width: 100%;
  height: 10px;
  background: #111;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9990;
}

.t-head {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  z-index: 9990;
  line-height: 25px;
  padding-left: 10px;
  padding-top: 0;
  margin-top: 0;
  max-width: calc(100vw);
}

#t-load {
  -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
  animation: t-flash-blue 0.5s steps(1) infinite;
  text-transform: uppercase;
  padding-left: 2px;
}

body {
  border: 6px double border var(--primary-color);
}

hr {
  color: var(--primary-color);
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

a {
  color: red;
}

.comment {
  color: green;
}

li li {
  color: darkorange;
  font-style: italic;
}

.blog {
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
}

li.blog-entry {
  padding-top: 0;
  margin-top: 0;
  list-style: none;
}

.blog-entry::before {
  content: "> ";
  color: var(--primary-color);
}

/*.about-me {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 25px;
  overflow: hidden;
}*/

.pfp {
  max-width: 250px;
  height: auto;
  display: flex;
  float: center;
  /*border: 2px dashed var(--primary-color);*/
  padding: auto;
  margin: auto;
  overflow: hidden;
}

.border-container {
  background: white;
  margin-top: 0px;
  padding-top: 0;
  border: 0px;
  display: box;
  width: 1250px;
  margin: auto;
  justify-content: center;
  justify-self: center;
  position: relative;

  /*position: fixed;*/
}

.container {
  margin-top: 1px;
  display: flex;
  gap: 0px;
  margin-bottom: 0px;
}

.ascii-container {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 0px;
  color: var(--primary-color);
  font-weight: 900;
}

pre {
  margin: 0;
  padding: 0;
}

.t-menu {
  border: 6px double var(--primary-color);
  min-height: 3em;
  background: white;
  padding: 1em;
  outline: 5px solid white;
  margin: 15px;
  overflow: visible;
  width: 100%;
  max-width: calc(100%);
  float: center;
  position: relative;
  z-index: 1;
}

.t-menu::before,
.comment-reply-title {
  content: attr(aria-label);
  display: block;
  overflow: hidden;
  padding: 2px 1px 0px 2px;
  line-height: 0.7;
  position: absolute;
  opacity: 1;
  top: -9px;
  left: 6px;
  background: mediumblue;
  background: white;
  text-transform: uppercase;
  -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
  animation: t-flash-blue 0.5s steps(1) infinite;
  z-index: 10000;
}

@media only screen and (min-width: 767px) {
  .t-menu.three_fifth {
    width: calc(60% - 16px);
  }

  .t-menu.two_fifth {
    width: calc(40% - 16px);
  }

  .t-menu.one_half {
    width: calc(50% - 16px);
  }

  .t-menu.one_third {
    width: calc(33.33% - 16px);
  }

  .t-menu.two_third {
    width: calc(66.66% - 16px);
  }

  .t-menu.one_fifth {
    width: calc(20% - 16px);
  }
}

@keyframes t-flash-blue {
  0% {
    color: white;
    background: var(--primary-color);
  }

  50% {
    color: var(--primary-color);
    background-color: white;
  }

  100% {
    color: white;
    background: var(--primary-color);
  }
}

#t-load {
  -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
  animation: t-flash-blue 0.5s steps(1) infinite;
  text-transform: uppercase;
  padding-left: 2px;
}

@font-face {
  font-family: "dos_vga";
  src: url("./assets/Perfect DOS VGA 437.ttf") format("truetype");
}

.binary-message {
  padding: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 5px;
  margin-top: 20px;
  line-height: 21px;
  color: yellow;
}

.binary-message::before {
  content: "";
}

.binary-message::after {
  content: "_";
  -webkit-animation: t-flash-blue 0.5s steps(1) infinite;
  animation: t-flash-blue 0.5s steps(1) infinite;
}

footer {
  padding: 1em;
  padding-top: 0px;
  text-align: left;
  color: black;
  margin: 0;
}

.footer-box {
  position: relative;
  background-color: var(--primary-color);
  color: yellow;
  padding-left: 10px;
  padding-top: 25px;
  overflow: hidden;
  height: 150px;
  width: 100%;
  margin-bottom: 0;
}
